<nav class="navbar shadow-sm mb-4">
  <div class="container-fluid d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between gap-3">
    
    <!-- Назва бренду -->
    <a class="navbar-brand fw-bold" href="{% url 'tasks' %}">Task Manager</a>
    
    <!-- Навігація -->


    <!-- Форма фільтрів -->
    <form class="d-flex flex-column flex-md-row align-items-start align-items-md-center gap-2" method="get" action="{% url 'tasks' %}">
      <input class="form-control" type="search" name="q" placeholder="Search tasks..." value="{{ request.GET.q|default:'' }}">
      <input type="date" name="from_date" value="{{ request.GET.from_date }}" class="form-control">
      <input type="date" name="to_date" value="{{ request.GET.to_date }}" class="form-control">

      <select name="author" class="form-select">
        <option value="">All authors</option>
        {% for author in users %}
          <option value="{{ author.id }}" {% if request.GET.author == author.id|stringformat:"s" %}selected{% endif %}>
            {{ author.email }}
          </option>
        {% endfor %}
      </select>

      <select name="status" class="form-select">
        <option value="">All statuses</option>
        <option value="completed" {% if request.GET.status == 'completed' %}selected{% endif %}>Completed</option>
        <option value="incomplete" {% if request.GET.status == 'incomplete' %}selected{% endif %}>Incomplete</option>
      </select>
      
      <div class="form-check mt-1">
        <input class="form-check-input" type="checkbox" name="today" value="1" id="todayCheck" {% if request.GET.today == '1' %}checked{% endif %}>
        <label class="form-check-label" for="todayCheck">Today</label>
      </div>

      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <ul class="navbar-nav flex-row flex-wrap">
      <li class="nav-item me-3 {% if page == 'create_task' %}active{% endif %}">
        <a class="nav-link" href="{% url 'create_task' %}">➕ Create Task</a>
      </li>
    </ul>
  </div>
</nav>
