<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active {% if page == 'create_task' %}active{% endif %}">
                <a class="nav-link" href="{% url 'create_task' %}">Create Task</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'tasks' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q|default:'' }}">
            
            <input type="date" name="from_date" value="{{ request.GET.from_date }}" class="form-control mr-2">
            <input type="date" name="to_date" value="{{ request.GET.to_date }}" class="form-control mr-2">
        
            <select name="author" class="form-control mr-2">
                <option value="">Всі автори</option>
                {% for author in users %}
                    <option value="{{ author.id }}" {% if request.GET.author == author.id|stringformat:"s" %}selected{% endif %}>
                        {{ author.email }}
                    </option>
                {% endfor %}
            </select>
            
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>