{% extends "base.html" %} 
{% block title %}Accounts Dashboard{% endblock %}

{% block content %}
    <h1>Accounts Dashboard</h1>
    <p>Welcome, {{ user.first_name }} | {{ user.email }}</p>
    <p>Your role: {{ user.role }}</p>

    <hr>
    <p>Number of accounts: {{ accounts_count }}</p>

    <h3>Accounts</h3>
    {% if user.role == 'teacher' or user.role == 'admin' %}
        <a href="{% url 'dashboard_create_account' 'student'%}">Create Student</a>
        <a href="{% url 'dashboard_create_account' 'parent'%}">Create Parent</a>
        <a href="{% url 'dashboard_create_account' 'teacher'%}">Create Teacher</a>
        <p>Click on the account to delete it.</p>
    {% endif %}

    <ul>
        {% for account in accounts %}
            <li>{{ account.first_name }} | <a href="{% url 'dashboard_profile' account.id %}">{{ account.email }}</a> | {{ account.role }}</li>
            {% if user.role == 'teacher' or user.role == 'admin' %}
                <a href="{% url 'dashboard_edit_account' account.id %}">Edit Account</a>
                <a href="{% url 'dashboard_edit_profile' account.id %}">Edit Profile</a>
                <a href="{% url 'dashboard_delete_account' account.id %}">Delete</a>
            {% endif %}
        {% endfor %}
    </ul>


{% endblock %}