<ul class="list-group list-group-flush">
    {% for child in user.parent.children.all %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'account' child.user.id %}">{{ child.user.get_full_name }} ({{ child.user.email }})</a>
        <button class="btn btn-sm btn-outline-danger" onclick="submitAjaxForm('remove-child-{{ child.id }}', 'children-container')">&times;</button>
        <form id="remove-child-{{ child.id }}" method="post" action="{% url 'remove_child_ajax' %}" class="d-none">
            {% csrf_token %}
            <input type="hidden" name="child_id" value="{{ child.user.id }}">
        </form>
    </li>
    {% empty %}
    <li class="list-group-item">No children linked yet.</li>
    {% endfor %}
</ul>
