{% extends 'dashboard/base.html' %}
{% load widget_tweaks %}
{% block dashboard_content %}
<div class="container">
    <h2>Мої діти</h2>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label>{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
                {% if field.errors %}
                    <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
            </div>  
        {% endfor %}
        <button type="submit" name="add_child" class="btn btn-primary mt-2">Додати дитину</button>
    </form>
    <br>
    <hr>
    <ul class="list-group">
        {% for child in children %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ child.user.get_full_name|default:child.user.email }}</span>
            <form method="post" class="m-0">
                {% csrf_token %}
                <input type="hidden" name="student_id" value="{{ child.user.id }}">
                <button type="submit" name="remove_child" class="btn btn-danger btn-sm">Видалити</button>
            </form>
        </li>
        {% empty %}
        <li class="list-group-item">У вас ще немає доданих дітей.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
