<nav class="navbar shadow-sm mb-4">
    <div class="container-fluid overflow-auto">
        <a class="navbar-brand fw-bold me-4" href="{% url 'events' %}">📅 Events</a>
        <ul class="navbar-nav flex-row flex-nowrap ms-auto">
            <li class="nav-item me-3 {% if page == 'create_event' %}active{% endif %}">
                <a class="nav-link" href="{% url 'create_event' %}">➕ Create Event</a>
            </li>
            {% if page == 'event_details' and request.user == event.author %}
                <li class="nav-item me-3">
                    <a class="nav-link {% if page == 'edit_event' %}active fw-bold{% endif %}" href="{% url 'edit_event' event.id %}">
                        ✏️ Edit
                    </a>
                </li>
                <li class="nav-item me-3">
                    <button class="nav-link text-danger bg-transparent border-0 " data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-event-id="{{ event.id }}">
                        🗑️ Delete
                    </button>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
